
    <script>
        function submit_form () {
            res_url = "/palindromes.json";
            var number = document.getElementById("number").value;
            var addition_params  = "?" + "number=" + number;
            console.log("!");
            
            var response = new XMLHttpRequest(); 
            response.open("GET", res_url + addition_params, true);

            response.onreadystatechange = function () {
                var done = 4, ok = 200;
                if (response.readyState == done && response.status == ok) {
                    var my_JSON_object = JSON.parse(response.responseText);
                    var table_head = "<table class=\"table\"><tr><th>Порядкорвый номер</th><th>Число (палиндром)</th><th>Квадрат числа (палиндром)</th></tr>";
                    for (var i = 0; i<my_JSON_object.value.length; i++){
                        console.log(i);
                        table_head += "<tr>"
                        table_head += "<td>"+ (i + 1) +"</td>";
                        table_head += "<td>"+ my_JSON_object.value[i][0] +"</td>";
                        table_head += "<td>"+ my_JSON_object.value[i][1] +"</td>";
                        table_head += "</tr>"
                    }
                    table_head += "</table>"
                    document.getElementById("result").innerHTML = table_head;
                }
                };
                response.send(null);            
        }
    </script>

<form class="form" action="">
    <label>From 1 to N:</label>
    <input type="number" id="number">
    <input type="button" value="Find Palindromes" action="" onclick="return submit_form();">
</form>


<div id="result"></div>

